{% extends 'blog_base.html' %}
 
{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ post.title }}</h1>
        {% if post.thumbnail %}
          <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="img-fluid rounded mx-auto d-block">
        {% endif %}
        <hr>
        <!-- 「safe」と入れることで、HTMLのエスケープを解除 -->
        <!-- <div class="row"> -->
        <div class="markdownx">
            <!-- {{ post.content | safe }} -->
            {{ post.get_text_markdownx | safe }}
            <p>Created: {{ post.created_at }}</p>
        </div>
        <a class="btn btn-warning mr-2" href="{% url 'post_edit' post.id %}">
          編集する
        </a>
        <a class="btn btn-danger" href="{% url 'post_delete' post.id %}">
          削除する
        </a>
        <!-- 追加ここから -->
        <hr>
        <h2>Comments</h2>
        <ul class="list-unstyled">
          {% for comment in comments %}
            <li class="media my-4">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ comment.name }}</h5>
                <p>{% if comment.approved_comment %}
                  {{ comment.text }}
                  {% else %}
                  管理人の承認待ちです
                  {% endif %}</p>
                <small>Created at: {{ comment.created_at }}</small>
              </div>
            </li>
          {% empty %}
            <li>No comments yet</li>
          {% endfor %}
        </ul>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>
  </div>
  <!-- {% block pagination %}{% endblock %}  追加 -->
{% endblock %}